@define-color bg #101913;
@define-color fg #a1af9c;
@define-color gray1 #6aae52;
@define-color gray2 #4a684a;
@define-color gray3 #4a9a68;
@define-color gray4 #c4a64e;
@define-color gray5 #8a7856;
@define-color fg_bright #b0c2a6;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}